
<header>
    <h1><%= @label %></h1>
    <p class="header-location"><%= @lat %>N, <%= @lon %>E</p>
    <%= link_to 'Locations', root_path, class: 'lnk-back' %>
</header>

<main>
    <%= react_component('Forecast', lat: @lat, lon: @lon, label: @label, forecastApi: @forecast_api) %>
</main>

<aside>
    <p class="credit">
        <a href="http://forecast.io/">Powered by Forecast.IO</a>
        <a href="http://erikflowers.github.io/weather-icons/">Weather icons by Erik Flowers</a>
    </p>
</aside>
